* {
    margin: 0;
    padding: 0;
    display: flex;
}

img {
    width: 100%;
    height: 100vh;
}

.container {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
}

.op {
    display: grid;
    justify-content: center;
    align-items: center;
}

.containerFundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: luminari, fantasy;
    font-size: 35px;
    background-color: transparent;
    color: white;
    border: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em;
    text-shadow: #000 -3px -3px;
    margin: 15px;
}

button:hover{
    -webkit-text-stroke-color: white;
    text-shadow: white -3px -3px;
    color: #000;
}

h1{
    font-family: Stencil Std, fantasy;
    font-size: 35px;
    background-color: transparent;
    color: black;
    border: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 3em;
    text-shadow: black -3px -3px;
    margin: 15px;
}